.home-message{
  display: grid;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  animation: homeMessage 1s;
}

@keyframes homeMessage{

  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}